<?xml version="1.0" encoding="utf-8" ?>

<!-- THIS FILE LEAD TO CONFUSION IN FUSEE Android Builds.

     The Android App crashed when trying to load libfreetype.so.6.
     
     THUS THIS FILE IS NOT COPIED TO OUTPUT ANY MORE 
     Once linux and/or osx are supported, we might need a new approach. The recommended
     solution would be to (re-)name libfreetype.[so/dylib] to freetype252[d].dll on 
     these platforms as well (as it is already working on Android).
-->
<configuration>
	<dllmap dll="freetype262.dll">
		<dllentry os="linux" dll="libfreetype.so.6" />
		<dllentry os="osx" dll="/Library/Frameworks/Mono.framework/Libraries/libfreetype.6.dylib" />
	</dllmap>
  <dllmap dll="freetype262d.dll">
    <dllentry os="linux" dll="libfreetype.so.6" />
    <dllentry os="osx" dll="/Library/Frameworks/Mono.framework/Libraries/libfreetype.6.dylib" />
  </dllmap>
</configuration>
